<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.quizzgame">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuizzGame"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.gms.auth.GOOGLE_SIGN_IN_CLIENT_ID"
            android:value="@string/default_web_client_id" />
        <activity
            android:name=".ResultActivity"
            android:exported="false"
            android:theme="@style/AppThemeSplash"
            />
        <activity
            android:name=".QuizActivity"
            android:exported="false"
            android:theme="@style/SignUpTheme" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/SignUpTheme" /> <!-- When click back on your device so android OS will go to parentActivityName -->
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/AppThemeSplash" /> <!-- Apply your theme you want. In case nothing change, it gonna use default theme -->
        <activity
            android:name=".WelcomeActivity"
            android:exported="true"
            android:theme="@style/AppThemeSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/SignUpTheme" />
    </application>

</manifest>